
    <section class="mt-4">
        <div class="page-header min-vh-75">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 my-auto">
                        <h1 class="text-gradient text-warning mb-0">Your Desired</h1>
                        <h1 class="mb-4">Experiences</h1>
                        <p class="lead">The time is now for it to be okay to be great. For being a bright color. For standing out.</p>
                        <div class="buttons">
                            <button type="button" class="btn bg-gradient-warning mt-4" data-go-to="auth">Discover</button>
                            <button type="button" class="btn text-warning shadow-none mt-4">Read more</button>
                        </div>
                    </div>
                    <div class="col-lg-7 ps-5 pe-0">
                        <div class="hero-images gap-3">
                            <div class="flex flex-col gap-3">
                                <div class="hero-img w-100 border-radius-lg shadow mt-0 mt-lg-7" style="background-image: url('./assets/img/1.jpeg');" alt=""></div>
                                <!-- <img class="w-100 border-radius-lg shadow mt-0 mt-lg-7" src="./assets/img/1.jpeg" alt=""> -->
                            </div>
                            <div class="flex flex-col gap-3">
                                <div class="hero-img hero-img-grow w-100 border-radius-lg shadow mt-0" style="background-image: url('./assets/img/2.jpg');" alt=""></div>
                                <div class="hero-img w-100 border-radius-lg shadow mt-0" style="background-image: url('./assets/img/3.jpg');" alt=""></div>
                                <!-- <img class="w-100 border-radius-lg shadow" src="./assets/img/2.jpg" alt="">
                                <img class="w-100 border-radius-lg shadow mt-4" src="./assets/img/3.jpg" alt=""> -->
                            </div>
                            <div class="flex flex-col gap-3">
                                <div class="hero-img w-100 border-radius-lg shadow mt-0" style="background-image: url('./assets/img/5.jpg');" alt=""></div>
                                <div class="hero-img hero-img-grow-1 w-100 border-radius-lg shadow mt-0" style="background-image: url('./assets/img/6.jpg');" alt=""></div>
                                <!-- <img class="w-100 border-radius-lg shadow mt-0 mt-lg-5" src="./assets/img/5.jpg" alt="">
                                <img class="w-100 border-radius-lg shadow mt-4" src="./assets/img/6.jpg" alt=""> -->
                            </div>
                            <div class="flex flex-col gap-3">
                                <div class="hero-img w-100 border-radius-lg shadow mt-3" style="background-image: url('./assets/img/10.jpg');" alt=""></div>
                                <div class="hero-img w-100 border-radius-lg shadow mt-0" style="background-image: url('./assets/img/11.jpg');" alt=""></div>
                                <!-- <img class="w-100 border-radius-lg shadow mt-3" src="./assets/img/10.jpg" alt="">
                                <img class="w-100 border-radius-lg shadow mt-4" src="./assets/img/11.jpg" alt=""> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-4 min-h">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-10 mx-auto">
                    <div class="p-3 text-center">
                        <img class="w-50 mb-3" src="./assets/img/svg/google.svg">
                        <p>We get insulted by others, lose trust for those others. We get back here to follow my dreams</p>
                        <a href="javascript:;" class="icon-move-right text-dark text-sm">Read more
                            <i class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-10 mx-auto">
                    <div class="p-3 text-center">
                        <img class="w-50 mb-3" src="./assets/img/svg/vodafone.svg">
                        <p>We get insulted by others, lose trust for those others. We get back here to follow my dreams</p>
                        <a href="javascript:;" class="icon-move-right text-dark text-sm">Read more
                            <i class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-10 mx-auto">
                    <div class="p-3 text-center">
                        <img class="w-50 mb-3" src="./assets/img/svg/coinbase.svg">
                        <p>We get insulted by others, lose trust for those others. We get back here to follow my dreams</p>
                        <a href="javascript:;" class="icon-move-right text-dark text-sm">Read more
                            <i class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="text-gradient text-primary mb-0 mt-2">Read More About Us</h3>
                    <h3>The most important</h3>
                    <p>Pain is what we go through as we become older. We get insulted by others, lose trust for those others. We get back stabbed by friends. It becomes harder for us to give others a hand.</p>
                    <a href="javascript:;" class="text-primary icon-move-right">More about us
                        <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
                            <i class="fas fa-ship opacity-10" aria-hidden="true"></i>
                        </div>
                        <div class="description ps-3">
                            <p class="mb-0">It becomes harder for us to give others a hand. <br> We get our heart broken by people we love.</p>
                        </div>
                    </div>

                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
                            <i class="fas fa-handshake opacity-10" aria-hidden="true"></i>
                        </div>
                        <div class="description ps-3">
                            <p class="mb-0">As we live, our hearts turn colder. <br>Cause pain is what we go through as we become older.</p>
                        </div>
                    </div>
                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
                            <i class="fas fa-hourglass opacity-10" aria-hidden="true"></i>
                        </div>
                        <div class="description ps-3">
                            <p class="mb-0">When we lose family over time. <br> What else could rust the heart more over time? Blackgold.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section bg-dark-1 bg-dark-alpha-90 parallax-5 light-content" style="">
        <div class="container position-relative">
            
            <div class="row">
                
                <div class="col-lg-4 mb-md-60 mb-xs-50">
                    
                    <h2 class="section-title mb-4 text-shadow wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">Check recent achievements.</h2>
                    
                    <p class="section-descr mb-40 text-shadow wow fadeInUp animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        We provide the effective ideas that grow businesses of our clients.
                    </p>
                    
                    <div class="local-scroll wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <a href="#contact" class="btn btn-mod btn-w btn-large btn-round btn-hover-anim text-shadow"><span>Request Price</span></a>
                    </div>
                    
                </div>
                
                <div class="col-lg-7 offset-lg-1">
                    
                    <!-- Numbers Grid -->
                    <div class="row mt-n50 mt-xs-n30 gap-25-0">
                        
                        <!-- Number Item -->
                        <div class="col-sm-6 col-lg-5 mt-50 mt-xs-30 wow fadeScaleIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeScaleIn;">
                            <div class="number-title text-shadow mb-10">
                                28%
                            </div>
                            <div class="number-descr text-shadow">
                                Resent tincidunt lacus sedenim posuere posuere nulla acusan.
                            </div>
                        </div>
                        <!-- End Number Item -->
                        
                        <!-- Number Item -->
                        <div class="col-sm-6 col-lg-5 offset-lg-2 mt-50 mt-xs-30 wow fadeScaleIn animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeScaleIn;">
                            <div class="number-title text-shadow mb-10">
                                1.5k
                            </div>
                            <div class="number-descr text-shadow">
                                Curabitur eu quam auctor nuca convallis metus nec feugia. 
                            </div>
                        </div>
                        <!-- End Number Item -->
                        
                        <!-- Number Item -->
                        <div class="col-sm-6 col-lg-5 mt-50 mt-xs-30 wow fadeScaleIn animated" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeScaleIn;">
                            <div class="number-title text-shadow mb-10">
                                30+
                            </div>
                            <div class="number-descr text-shadow">
                                Pellentesque pharetra libero eget vestibulum ullamcorper.
                            </div>
                        </div>
                        <!-- End Number Item -->
                        
                        <!-- Number Item -->
                        <div class="col-sm-6 col-lg-5 offset-lg-2 mt-50 mt-xs-30 wow fadeScaleIn animated" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeScaleIn;">
                            <div class="number-title text-shadow mb-10">
                                2x
                            </div>
                            <div class="number-descr text-shadow">
                                Suspendisse a scelerisque vitae rutrum posuere sec lacus.
                            </div>
                        </div>
                        <!-- End Number Item -->
                        
                    </div>
                    <!-- End Numbers Grid -->
                    
                </div>
                
            </div>
            
        </div>
    </section>

