<div id="auth-card" class="card card-plain">
    <div class="card-header pb-0 text-left bg-transparent">
        <div class="form-logo-side">
            <img src="./assets/img/bc-logo.png" alt="Bafokeng Connect Logo">
        </div>
        <h4 class="font-weight-semibold">Hi Innocent</h4>
        <p class="mb-0 mt-3">To continue, first verify it’s you</p>
    </div>
    <div class="card-body mt-3">
        <form id="auth" class="form-floating" role="form">
            <div class="form-body">
                <div class="form-group">
                    <input id="passwd" name="passwd" type="password" class="form-control form-control-lg" aria-label="Password" aria-describedby="password-addon" autocomplete="current-password" aria-disabled="false" spellcheck="false" tabindex="0">
                    <label for="passwd" aria-hidden="true" >Enter your password</label>
                    <div class="form-group-alert-text"></div>
                </div>
                <div class="form-check pl-0 ml-0">
                    <input class="check-input" type="checkbox" aria-labelledby="password1" id="show-password">
                    <label class="form-check-label" for="show-password">Show password</label>
                </div>
            </div>
            <div class="d-flex gap-4 justify-content-end">
                <button id="passwd-forgotten" type="button" class="btn btn-lg bg-transparent btn-lg mt-4 mb-0">Forgot password?</button>
                <button id="passwd-verifier" type="button" class="btn btn-lg bg-gradient-primary btn-lg mt-4 mb-0">Next</button>
            </div>
        </form>
    </div>
</div>
                        