
<section class="auth">
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-6 d-lg-flex d-none h-100 my-auto top-0 text-center justify-content-center flex-column">
                    <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden">
                        <img src="./assets/img/svg/pattern-lines.svg" alt="pattern-lines" class="position-absolute opacity-4 start-0">
                        <div class="position-relative">
                            <img class="max-width-500 w-100 position-relative z-index-2" src="https://demos.creative-tim.com/soft-ui-design-system/assets/img/illustrations/chat.png">
                        </div>
                        <h4 class="mt-5 text-white font-weight-semibold">"Attention is the new currency"</h4>
                        <p class="text-white">The more effortless the writing looks, the more effort the writer actually put into the process.</p>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-7 d-flex flex-column h-100 my-auto top-0 justify-content-center ml-auto">
                    <div id="auth-card" class="card card-plain">
                        <div class="card-header pb-0 text-left bg-transparent">
                            <div class="form-logo-side">
                                <img src="./assets/img/bc-logo.png" alt="Bafokeng Connect Logo">
                            </div>
                            <h4 class="font-weight-semibold">Welcome</h4>
                            <p class="mb-0 mt-3">Sign in with your email</p>
                        </div>
                        <div class="card-body mt-3">
                            <form id="auth" class="form-floating" role="form">
                                <div class="form-body">
                                    <div class="form-group">
                                        <input id="identifier" type="text" class="form-control form-control-lg" aria-label="Email or phone" aria-describedby="email-addon" autocomplete="username" spellcheck="false" tabindex="0">
                                        <label for="identifier" aria-hidden="true">Email or phone</label>
                                        <div class="form-group-alert-text">You’ll need to confirm that this email or phone belongs to you</div>
                                    </div>
                                </div>
                                <div class="d-flex gap-4 justify-content-end">
                                    <button id="signup" type="button" class="btn btn-lg bg-transparent btn-lg mt-4 mb-0">Create account</button>
                                    <button id="id-verifier" type="button" class="btn btn-lg bg-gradient-primary btn-lg mt-4 mb-0">Next</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>