<div id="reg-card" class="card card-plain">
    <div class="card-header pb-0 text-left bg-transparent">
        <div class="form-logo-side">
            <img src="./assets/img/bc-logo.png" alt="Bafokeng Connect Logo">
        </div>
        <h4 class="font-weight-semibold">Create Account</h4>
        <p class="mb-0 mt-3">Enter your name</p>
    </div>
    <div class="card-body mt-3">
        <form id="auth" class="form-floating" role="form">
            <div class="form-body">
                <div class="form-group">
                    <input id="firstName" type="text" class="form-control form-control-lg" aria-label="First name" name="firstName" value="" aria-disabled="false" autocapitalize="sentences" data-initial-value="">
                    <label for="firstName" aria-hidden="true">First name</label>
                </div>
                <div class="form-group">
                    <input id="lastName" type="text" class="form-control form-control-lg" autocomplete="on" spellcheck="false" tabindex="0" aria-label="Last name (optional)" name="lastName" value="" aria-disabled="false" autocapitalize="sentences" data-initial-value="">
                    <label for="lastName" aria-hidden="true">Last name</label>
                </div>
            </div>
            <div class="d-flex gap-4 justify-content-end">
                <button id="reg-names" type="button" class="btn btn-lg bg-gradient-primary btn-lg mt-4 mb-0">Next</button>
            </div>
        </form>
    </div>
</div>